<%- include('header') %>

  <div class="page-wrapper">
    <div class="container-fluid">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= user.profileImage %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Name: <%= user.firstname %>
              <%= user.lastname %>
          </h5>
          <p class="card-text">Email: <%= user.email %>
          </p>
          <p class="card-text">Gender: <%= user.gender %>
          </p>
          <p class="card-text">MobileNo: <%= user.mobileNo %>
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>

  <%- include('footer') %>